body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sticky .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Increase the z-index value */
}

.navbar {
  background-color: #0167af;
  color: #ffffff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure the navbar is above other elements */
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: none;
  color: lightblue;
}